.products {
  display: flex;
  justify-content: space-around;
}
img {
  height: 500px;
  width: 400px;
}
.menu-link {
  text-decoration: none;
  color: cornflowerblue;
  font-size: 16px;
  line-height: 20px;
}
.main-heading {
  color: #222;
  font-size: 28px;
  line-height: 36px;
  font-weight: bold;
}
.text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
}

.text_products {
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 36px;
  color: #481bb9;
}

.subhead {
  color: coral;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 80px;
}

.subhead_products {
  color: coral;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 60px;
}
